.container {display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #877e8e; min-height: 100vh; padding: 20px 0;}
.acco_box_wrap {background-color: #212121; width: 376px;}
.acco_box_wrap ~ .acco_box_wrap {margin-top: 30px;}
.acco_box_wrap ul .acco_list {position: relative; padding: 14px 17px; box-sizing: border-box; border-bottom: solid 1px #8a8a8a;}
.acco_box_wrap ul .acco_list button {font-size: 10px; color: #8a8a8a; letter-spacing: 1px; }
.acco_box_wrap ul .acco_list.def:after {position: absolute; content: ''; width: 21px; height: 21px; background-image: url('./Icon.svg'); background-position: center; background-repeat: no-repeat; background-size: contain; top: 14px; right: 17px;}
.acco_box_wrap ul .acco_list .acco_cont {display: flex; justify-content: flex-start; gap: 40px; margin-top: 20px; font-size: 14px; color: #fff; line-height: 20px; letter-spacing: 0.5px; opacity: 1; max-height: 100px; transition: max-height 0.3s linear; overflow: hidden;}
.acco_box_wrap ul .acco_list.def .acco_cont {opacity: 0; max-height: 0; margin-top: 0; transition: max-height 0.3s linear;}
.acco_box_wrap ul .acco_list .acco_cont .acco_title {font-size: 13px;}
.acco_box_wrap ul .acco_list .acco_cont .acco_cont_list {margin-top: 7px; font-size: 14px;}
