.lora-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-500 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lora-700 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.skip_nav {
  position: relative;
  z-index: 500;
}

.skip_nav a {
  position: absolute;
  top: -50px;
  left: 0;
  background: #000;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  padding: 0 6px;
}

.skip_nav a:focus,
.skip_nav a:active {
  top: 0;
  z-index: 499;
}

.mob {
  display: none;
}
@media screen and (max-width: 880px) {
  .mob {
    display: block;
  }
}

.wrap {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1220px) {
  .container {
    padding: 0 20px;
  }
}

.logo_style {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1.3px;
  line-height: 0.9;
  position: relative;
}
.logo_style::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #000;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  position: relative;
  background: #fff;
  z-index: 2;
}
header.sticky {
  position: sticky;
  top: 0;
}
header.sticky::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: #000;
}
header.sticky > div {
  height: 60px;
}
header > div {
  height: 100px;
  transition: all 0.3s;
}
header > div.needflex {
  justify-content: space-between;
  align-items: center;
  gap: 0 13%;
}
header > div .header_util {
  flex: 1 1 65%;
}
header > div .header_util.needflex {
  align-items: center;
  gap: 0 15px;
}
header > div .header_util .gnb_list {
  flex-grow: 1;
}
@media screen and (max-width: 880px) {
  header > div .header_util .gnb_list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
    background: #fff;
    z-index: -1;
    transform: translateY(-100%);
  }
  header > div .header_util .gnb_list.menuon {
    transition: all 0.5s;
    transform: translateY(0);
  }
}
header > div .header_util .gnb_list.needflex {
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  header > div .header_util .gnb_list.needflex {
    flex-direction: column;
    justify-content: unset;
    gap: 15px 0;
  }
}
header > div .header_util .gnb_list > .list_item {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
}
@media screen and (max-width: 880px) {
  header > div .header_util .gnb_list > .list_item {
    flex-grow: 0;
  }
}
header > div .header_util .gnb_list > .list_item.dep1 {
  position: relative;
  font-weight: 700;
}
@media screen and (max-width: 880px) {
  header > div .header_util .gnb_list > .list_item.dep1 {
    display: flex;
    font-size: 2.5rem;
  }
  header > div .header_util .gnb_list > .list_item.dep1 > a {
    flex-shrink: 0;
    flex-basis: 30%;
  }
}
header > div .header_util .gnb_list > .list_item.dep1 .gnb_sub_list {
  padding: 20px 10px 10px;
  display: none;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media screen and (max-width: 880px) {
  header > div .header_util .gnb_list > .list_item.dep1 .gnb_sub_list {
    position: relative;
    padding: unset;
    left: unset;
    transform: unset;
  }
}
header > div .header_util .gnb_list > .list_item.dep1 .gnb_sub_list.active {
  display: block;
}
header > div .header_util .gnb_list > .list_item.dep1 .gnb_sub_list > .list_item {
  padding: 5px 0;
  font-size: 1.3rem;
}
@media screen and (max-width: 880px) {
  header > div .header_util .gnb_list > .list_item.dep1 .gnb_sub_list > .list_item {
    font-size: 1.8rem;
  }
}
@media (hover: hover) {
  header > div .header_util .gnb_list > .list_item.dep1 .gnb_sub_list > .dep2:hover > a {
    color: #071734;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}
@media (hover: hover) {
  header > div .header_util .gnb_list > .dep1:hover > a {
    color: #071734;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
}
header > div .header_util > .btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
header > div .header_util > .btn.btn_search {
  margin-left: auto;
  background: url(/assets/images/icon_search.png) no-repeat center center;
  background-size: auto 16px;
}
header > div .header_util > .btn.btn_hmbgr {
  background: url(/assets/images/icon_menu.png) no-repeat center center;
  background-size: auto 16px;
}

footer {
  background: #344769;
  padding: 6rem 0 5rem;
}
@media screen and (max-width: 880px) {
  footer {
    padding: 3rem 0 2.5rem;
  }
}
footer .footer_top {
  padding-bottom: 3rem;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 880px) {
  footer .footer_top {
    padding-bottom: 7rem;
  }
}
footer .footer_top.needgrid {
  gap: 2% 1%;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 880px) {
  footer .footer_top.needgrid {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}
footer .footer_top .infobox .infobox_tit {
  margin-bottom: 2rem;
}
footer .footer_top .infobox .links_list {
  max-height: 120px;
}
footer .footer_top .infobox .links_list.needflex {
  flex-flow: column wrap;
}
footer .footer_top .infobox .links_list.needflex li {
  width: 50%;
}
footer .footer_top .infobox .links_list li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0 8px;
  transition: all 0.2s;
}
footer .footer_top .infobox .links_list li::before {
  content: "";
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(/assets/images/icon_arrow_gray.png) no-repeat center center;
  background-size: auto 8px;
}
footer .footer_top .infobox .links_list li a {
  color: #bbb;
}
@media (hover: hover) {
  footer .footer_top .infobox .links_list li:hover {
    padding-left: 6px;
    gap: 0 2px;
  }
  footer .footer_top .infobox .links_list li:hover::before {
    background-size: auto 11px;
  }
  footer .footer_top .infobox .links_list li:hover a {
    color: #fff;
  }
}
footer .footer_top .infobox .infos_list {
  margin-bottom: 2rem;
}
footer .footer_top .infobox .infos_list li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0 8px;
  color: #aaa;
}
footer .footer_top .infobox .infos_list li::before {
  content: "";
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
footer .footer_top .infobox .infos_list li.addr {
  align-items: flex-start;
}
footer .footer_top .infobox .infos_list li.addr::before {
  padding-top: 5px;
  background: url(/assets/images/icon_map.png) no-repeat center center;
  background-size: auto 10px;
}
footer .footer_top .infobox .infos_list li.nmbr::before {
  background: url(/assets/images/icon_tel.png) no-repeat center center;
  background-size: auto 10px;
}
footer .footer_top .infobox .infos_list li.eml::before {
  background: url(/assets/images/icon_email_white.png) no-repeat center center;
  background-size: auto 10px;
}
footer .footer_top .infobox .share_list.needflex {
  gap: 0 10px;
}
@media screen and (max-width: 880px) {
  footer .footer_top .infobox .share_list.needflex {
    justify-content: center;
  }
}
footer .footer_top .infobox .share_list li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  transition: all 0.2s;
}
footer .footer_top .infobox .share_list li a {
  display: block;
  width: 100%;
  height: 100%;
}
footer .footer_top .infobox .share_list li.shareto_x {
  background: #111;
}
footer .footer_top .infobox .share_list li.shareto_x a {
  background: url(/assets/images/icon_twiter.png) no-repeat center center;
  background-size: auto 15px;
}
footer .footer_top .infobox .share_list li.shareto_f {
  background: #111;
}
footer .footer_top .infobox .share_list li.shareto_f a {
  background: url(/assets/images/icon_facebook.png) no-repeat center center;
  background-size: auto 15px;
}
footer .footer_top .infobox .share_list li.shareto_g {
  background: #111;
}
footer .footer_top .infobox .share_list li.shareto_g a {
  background: url(/assets/images/icon_google.png) no-repeat center center;
  background-size: auto 15px;
}
footer .footer_top .infobox .share_list li.shareto_p {
  background: #111;
}
footer .footer_top .infobox .share_list li.shareto_p a {
  background: url(/assets/images/icon_pin.png) no-repeat center center;
  background-size: auto 15px;
}
footer .footer_top .infobox .share_list li.shareto_i {
  background: #111;
}
footer .footer_top .infobox .share_list li.shareto_i a {
  background: url(/assets/images/icon_insta.png) no-repeat center center;
  background-size: auto 15px;
}
@media (hover: hover) {
  footer .footer_top .infobox .share_list li:hover {
    transform: scale(1.1);
  }
  footer .footer_top .infobox .share_list li:hover.shareto_x {
    background: #1DA1F2;
  }
  footer .footer_top .infobox .share_list li:hover.shareto_f {
    background: #4267B2;
  }
  footer .footer_top .infobox .share_list li:hover.shareto_g {
    background: #DB4437;
  }
  footer .footer_top .infobox .share_list li:hover.shareto_p {
    background: #E60023;
  }
  footer .footer_top .infobox .share_list li:hover.shareto_i {
    background: #5B51D8;
  }
}
footer .footer_bottom {
  padding-top: 4rem;
}
footer .footer_bottom.needflex {
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  footer .footer_bottom.needflex {
    flex-wrap: wrap;
  }
}
footer .footer_bottom p {
  color: #bbb;
}

.cont_sec .sect_tit {
  font-size: 3.5rem;
  text-align: center;
  color: #000;
  position: relative;
  margin-bottom: 6rem;
}
.cont_sec .sect_tit.wht {
  color: #fff;
}
.cont_sec .sect_tit.wht::after {
  background: #fff;
}
.cont_sec .sect_tit::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 25px;
  background: #000;
}
.cont_sec .sig_form .list_item {
  flex: 0 0 31%;
  min-width: 360px;
  min-height: 478px;
  background: url(/assets/images/bg_contbox_01.png) no-repeat center center;
  background-size: calc(100% - 30px) 450px;
}
.cont_sec .sig_form .list_item figure img {
  display: block;
  height: 234px;
  object-fit: cover;
}
.cont_sec .sig_form .list_item .fig_desc {
  padding: 1.5rem 5rem;
  position: relative;
}
.cont_sec .sig_form .list_item .fig_desc p {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #bbb;
}
.cont_sec .sig_form .list_item .fig_desc p span {
  margin-left: auto;
  color: #cfc497;
}
.cont_sec .sig_form .list_item .fig_desc dl dt {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}
.cont_sec .sig_form .list_item .fig_desc dl dd {
  color: #bbb;
}
.cont_sec .sig_form .list_item::marker {
  content: none;
}
.cont_sec .comm_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: auto;
  height: 4rem;
  font-family: "Lora", serif;
  font-weight: 700;
}
.cont_sec .comm_btn.bdr {
  border: 2px solid #fff;
}
.cont_sec .comm_btn.pln {
  border: none;
}
@media screen and (max-width: 1200) {
  .cont_sec .comm_btn.pln {
    border: 1px solid #fff;
  }
}
@media (hover: hover) {
  .cont_sec .comm_btn.bip:hover {
    animation: bipbip 0.2s;
  }
}
@keyframes bipbip {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.12);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}
.cont_sec.main_visual .swiperMv {
  width: 100%;
  height: 800px;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide.mv01 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/img_slider_01.png) no-repeat center center;
  background-size: cover;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide.mv02 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/img_slider_02.jpg) no-repeat center center;
  background-size: cover;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide.mv03 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/img_slider_03.jpg) no-repeat center center;
  background-size: cover;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide.mv04 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/img_slider_04.jpg) no-repeat center center;
  background-size: cover;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide .cont_box {
  text-align: center;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide .cont_box .vis_tit {
  font-family: "Roboto";
  font-size: 10rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 2rem;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide .cont_box p {
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 4rem;
}
.cont_sec.main_visual .swiperMv .swiper-wrapper .swiper-slide .cont_box .comm_btn {
  background: #cfc497;
  margin: 0 auto;
}
.cont_sec.main_visual .swiperMv .swiper-button-next,
.cont_sec.main_visual .swiperMv .swiper-button-prev {
  color: #fff;
}
.cont_sec.main_visual .swiperMv .swiper-pagination {
  bottom: 4rem;
}
.cont_sec.main_visual .swiperMv .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  background: transparent;
  opacity: 1;
}
.cont_sec.main_visual .swiperMv .swiper-pagination-bullet-active {
  background: #fff;
}
.cont_sec.text {
  padding: 10rem 0;
}
.cont_sec.text .needflex {
  gap: 0 120px;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .cont_sec.text .needflex {
    flex-direction: column;
    gap: 5rem 0;
  }
}
.cont_sec.text .needflex .textbox.left {
  flex: 0 0 30%;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .cont_sec.text .needflex .textbox.left {
    text-align: center;
  }
}
.cont_sec.text .needflex .textbox.left h3 {
  font-size: 4.5rem;
  position: relative;
}
.cont_sec.text .needflex .textbox.left h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 3px;
  background: #000;
}
@media screen and (max-width: 768px) {
  .cont_sec.text .needflex .textbox.left h3::after {
    width: 200px;
    bottom: -1rem;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
}
.cont_sec.text .needflex .textbox.right b {
  display: block;
  margin-bottom: 3rem;
}
.cont_sec.text .needflex .textbox.right p {
  margin-bottom: 3rem;
}
.cont_sec.text .needflex .textbox.right .comm_btn.bdr {
  color: #344769;
  border-color: #344769;
}
@media screen and (max-width: 768px) {
  .cont_sec.text .needflex .textbox.right .comm_btn {
    margin: 0 auto;
  }
}
.cont_sec.pckg {
  padding: 10rem 0 30rem;
  background: #071734;
}
.cont_sec.pckg .pckg_list.needflex {
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem 3.5%;
}
.cont_sec.pckg .pckg_list .list_item {
  flex: 0 1 31%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .cont_sec.pckg .pckg_list .list_item {
    flex: 1 1 100%;
  }
}
.cont_sec.pckg .pckg_list .list_item figure {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}
.cont_sec.pckg .pckg_list .list_item figure img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  height: 100%;
  object-fit: cover;
}
.cont_sec.pckg .pckg_list .list_item .fig_desc {
  flex-grow: 1;
}
.cont_sec.pckg .pckg_list .comm_btn {
  background: #344769;
  color: #cfc497;
  position: absolute;
  bottom: -0.5rem;
}
.cont_sec.dstntn {
  position: relative;
  top: -20rem;
}
.cont_sec.dstntn .dst_list.needflex {
  flex-wrap: wrap;
  justify-content: space-between;
}
.cont_sec.dstntn .dst_list .list_item {
  text-align: center;
  position: relative;
  flex: 1 1 25%;
}
.cont_sec.dstntn .dst_list .list_item::marker {
  content: none;
}
@media screen and (max-width: 1020px) {
  .cont_sec.dstntn .dst_list .list_item {
    flex: 1 1 50%;
  }
}
@media screen and (max-width: 600px) {
  .cont_sec.dstntn .dst_list .list_item {
    flex: 1 1 100%;
  }
}
.cont_sec.dstntn .dst_list .list_item figure {
  width: 100%;
  padding-bottom: 70%;
  position: relative;
}
.cont_sec.dstntn .dst_list .list_item figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  object-fit: cover;
}
.cont_sec.dstntn .dst_list .list_item .cont_box .dst_tit {
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 500;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.cont_sec.dstntn .dst_list .list_item .cont_box .comm_btn {
  color: #344769;
}
@media screen and (max-width: 768px) {
  .cont_sec.dstntn .dst_list .list_item .cont_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
  }
  .cont_sec.dstntn .dst_list .list_item .cont_box .dst_tit {
    font-size: 4rem;
  }
  .cont_sec.dstntn .dst_list .list_item .cont_box .comm_btn {
    color: rgba(255, 255, 255, 0.8);
  }
}
.cont_sec.wtwu {
  background: url(/assets/images/bg_02.png) no-repeat center center;
}
.cont_sec.wtwu .container {
  position: relative;
  top: -8rem;
}
.cont_sec.wtwu .sect_tit {
  color: #000;
}
.cont_sec.wtwu .sect_tit::after {
  background: #000;
}
.cont_sec.wtwu .cont_box.needflex {
  gap: 3rem;
  align-items: center;
}
@media screen and (max-width: 1060px) {
  .cont_sec.wtwu .cont_box.needflex {
    flex-direction: column-reverse;
  }
}
.cont_sec.wtwu .cont_box .listbox.needflex {
  flex-wrap: wrap;
  gap: 1rem 1rem;
}
.cont_sec.wtwu .cont_box .listbox .list_item {
  padding: 8rem 6rem 1rem;
  flex: 0 0 calc((100% - 1rem) / 2);
  text-align: center;
}
@media screen and (max-width: 1060px) {
  .cont_sec.wtwu .cont_box .listbox .list_item {
    padding: 8rem 3rem 1rem;
  }
}
@media screen and (max-width: 1060px) {
  .cont_sec.wtwu .cont_box .listbox .list_item {
    flex: 0 0 100%;
  }
}
.cont_sec.wtwu .cont_box .listbox .list_item:first-of-type {
  background: url(/assets/images/icon_travel_01.png) no-repeat top 1rem center;
  background-size: auto 50px;
}
.cont_sec.wtwu .cont_box .listbox .list_item:nth-of-type(2) {
  background: url(/assets/images/icon_travel_02.png) no-repeat top 1rem center;
  background-size: auto 50px;
}
.cont_sec.wtwu .cont_box .listbox .list_item:nth-of-type(3) {
  background: url(/assets/images/icon_travel_03.png) no-repeat top 1rem center;
  background-size: auto 50px;
}
.cont_sec.wtwu .cont_box .listbox .list_item:last-of-type {
  background: url(/assets/images/icon_travel_04.png) no-repeat top 1rem center;
  background-size: auto 50px;
}
.cont_sec.wtwu .cont_box .listbox .list_item dl {
  word-break: keep-all;
  margin-bottom: 2rem;
}
.cont_sec.wtwu .cont_box .listbox .list_item dl dt {
  margin-bottom: 2rem;
}
.cont_sec.wtwu .cont_box .listbox .list_item .comm_btn {
  color: #344769;
}
.cont_sec.wtwu .cont_box .listbox .list_item::marker {
  content: none;
}
.cont_sec.wtwu .cont_box .imgbox {
  flex: 0 0 33%;
}
@media screen and (max-width: 1060px) {
  .cont_sec.wtwu .cont_box .imgbox {
    width: 100%;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden;
  }
  .cont_sec.wtwu .cont_box .imgbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    object-fit: cover;
  }
}
.cont_sec.rcrv {
  padding: 10rem 0;
  background: #54637c;
}
.cont_sec.rcrv .tab_list {
  max-width: 500px;
  margin: 0 auto;
}
.cont_sec.rcrv .tab_list.needflex {
  justify-content: center;
  gap: 0 1rem;
}
.cont_sec.rcrv .tab_list .tab_list_item {
  position: relative;
  background: #fff;
  position: relative;
  z-index: 1;
}
.cont_sec.rcrv .tab_list .tab_list_item a {
  display: block;
  overflow: hidden;
  padding: 5px;
}
.cont_sec.rcrv .tab_list .tab_list_item a img {
  display: block;
  height: 100%;
  object-fit: cover;
}
.cont_sec.rcrv .tab_list .tab_list_item.active {
  position: relative;
  background: #cfc497;
}
.cont_sec.rcrv .tab_list .tab_list_item.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  background: url(/assets/images/img_review_active.png) no-repeat center center;
  background-size: contain;
  width: 10px;
  height: 6px;
}
.cont_sec.rcrv .tabview_list {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: -3rem;
  background: #fff;
  padding: 8rem 10rem 5rem;
}
.cont_sec.rcrv .tabview_list .tabview_list_item {
  text-align: center;
  display: none;
}
.cont_sec.rcrv .tabview_list .tabview_list_item.active {
  display: block;
}
.cont_sec.rcrv .tabview_list .tabview_list_item .review_text {
  margin-bottom: 2rem;
}
.cont_sec.rcrv .tabview_list .tabview_list_item .stars {
  display: block;
  margin-bottom: 2rem;
}
.cont_sec.rcby {
  padding: 10rem 0 35rem;
}
.cont_sec.rcby .recommed_list.needflex {
  justify-content: space-between;
  gap: 2rem 1.5rem;
}
@media screen and (max-width: 850px) {
  .cont_sec.rcby .recommed_list.needflex {
    flex-flow: row wrap;
  }
}
.cont_sec.rcby .recommed_list .list_item {
  flex: 1 0 18%;
  padding-top: 11%;
  background: #fff;
  position: relative;
}
@media screen and (max-width: 850px) {
  .cont_sec.rcby .recommed_list .list_item {
    flex: 0 0 48%;
  }
}
.cont_sec.rcby .recommed_list .list_item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 130px;
}
.cont_sec.rcbp {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/bg_03.png) no-repeat center center/cover;
}
.cont_sec.rcbp .container {
  position: relative;
  top: -22rem;
}
.cont_sec.rcbp .container .blog_list {
  margin-bottom: 4rem;
}
.cont_sec.rcbp .container .blog_list.needflex {
  gap: 5rem 3.5%;
}
.cont_sec.rcbp .container .blog_list .list_item {
  flex: 0 0 31%;
  min-height: 478px;
}
.cont_sec.rcbp .container > .comm_btn {
  margin: 0 auto;
  margin-bottom: 8rem;
}
.cont_sec.rcbp .container > .comm_btn.bdr {
  color: #cfc497;
  border-color: #cfc497;
}
@media screen and (max-width: 1020px) {
  .cont_sec.rcbp .container .subbox.needflex {
    flex-wrap: wrap;
  }
}
.cont_sec.rcbp .container .subbox > div {
  flex: 1 0 50%;
  min-height: 270px;
}
.cont_sec.rcbp .container .subbox > div.left {
  background: #cfc497;
  padding: 5rem 6rem;
}
@media screen and (max-width: 600px) {
  .cont_sec.rcbp .container .subbox > div.left {
    padding: 4rem 3rem;
  }
}
.cont_sec.rcbp .container .subbox > div.left h5 {
  margin: unset;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.cont_sec.rcbp .container .subbox > div.left p {
  margin-bottom: 3rem;
}
.cont_sec.rcbp .container .subbox > div.left form {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.cont_sec.rcbp .container .subbox > div.left form input {
  flex: 1 1 60%;
  height: 4rem;
  padding: 0.5rem 2rem 0.5rem 3rem;
  background: #fff url(/assets/images/icon_email_gray.png) no-repeat left 10px center;
  background-size: auto 10px;
  border: none;
}
.cont_sec.rcbp .container .subbox > div.left form button {
  width: 33%;
  background: #344769;
  color: #cfc497;
}
.cont_sec.rcbp .container .subbox > div.right {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/img_subsc_01.png) no-repeat 73% 72%;
  background-size: 300%;
}
.cont_sec.rcbp .container .subbox > div.right .logo_style {
  flex-shrink: 0;
  font-size: 3rem;
  color: #fff;
  line-height: calc(3rem + 3px);
}
.cont_sec.rcbp .container .subbox > div.right .logo_style::after {
  background: #fff;
}
@media (hover: hover) {
  .cont_sec.rcbp .container .subbox > div.right:hover {
    background-size: 330%;
  }
}