// skip_nav
.skip_nav {
    position: relative;
    z-index: 500;
}
.skip_nav a {
    position: absolute;
    top: -50px;
    left: 0;
    background: #000;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    padding: 0 6px;
}

.skip_nav a:focus,
.skip_nav a:active {
    top: 0;
    z-index: 499;
}
.wrap {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

// header, footer
header {
    background: #fff;
    
    > div {
        height: 80px;
        &.needflex {
            justify-content: space-between;
            align-items: center;
        }
        .main_logo {}
        .header_util {
            flex: 0 1 60%;
            &.needflex {
                align-items: center;
                gap: 0 40px;
            }
            .gnb_list {
                flex-grow: 1;
                &.needflex {
                    justify-content: space-between;
                }
            }
            .btn_search {
                width: 14px;
                height: 14px;
                border: 1px solid #000;
                border-radius: 2px;
            }
        }
    }
}

// contents
.cont_sec {  
    // sect_common
    .sect_tit {
        font-size: 3.5rem;
        text-align: center;
        color: #000;
        position: relative;
        margin-bottom: 6rem;
        &.wht {
            color: #fff;
            &::after {
                background: #fff;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 25px;
            background: #000;
        }
    }
    
    .sig_form {
        .list_item {
            flex: 0 0 31%;
            min-height: 478px;
            background: url(/assets/images/bg_contbox_01.png) no-repeat center center;
            background-size: auto 450px;
            .fig_desc {
                padding: 1.5rem 5rem;
                position: relative;
                p {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    span {
                        margin-left: auto;
                    }
                }
                dl {
                    dt {
                        font-size: 2rem;
                        color: #fff;
                        margin-bottom: 1rem;
                    }
                }
            }
            &::marker {
                content: none;
            }
        }
    }
    // mainVisual
    &.main_visual {
        .swiperMv {
            width: 100%;
            height: 800px;
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    
    
                    &.mv01 {
                        background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(/assets/images/img_slider_01.png) no-repeat center center;
                        background-size: cover;
                    }
                    &.mv02 {
                        background:   linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/assets/images/img_slider_02.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    &.mv03 {
                        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/assets/images/img_slider_03.jpg) no-repeat center center;
                        background-size: cover;
                    }
                }
            }
        }
    }
    &.text {
        padding: 10rem 0;
        .needflex {
            gap: 0 120px;
            align-items: stretch;
            .textbox {
                &.left {
                    flex: 0 0 30%;
                    text-align: right;
                    h3 {
                        font-size: 4.5rem;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 40px;
                            height: 3px;
                            background: #000;
                        }
                    }
                }
                &.right {
                    b {
                        display: block;
                        margin-bottom: 3rem;
                    }
                    p {
                        margin-bottom: 3rem;
                    }
                    .btn.readmore {
                        border: 2px solid #071734;
                        padding: 15px 40px;
                    }
                }
            }
        }
    }

    &.pckg {
        padding: 10rem 0 30rem;
        background: #071734;


        .pckg_list {
            &.needflex {
                flex-wrap: wrap;
                gap: 5rem 3.5%;
            }
            .btn.readmore {
                padding: 15px 30px;
                background: #000;
                color: #fff;
                position: absolute;
                bottom: -50%;
                transform: translateY(-50%);
            }
        }
    }
    &.dstntn {
        position: relative;
        top: -20rem;
        .dst_list {
            .list_item {
                text-align: center;
                &::marker {
                    content: none;
                }
                flex: 0 0 25%;

                figure {
                    height: 230px;
                    img {
                        display: block;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    &.wtwu {
        // padding-bottom: 5rem;
        background: url(/assets/images/bg_02.png) no-repeat center center;
        .container {
            position: relative;
            top: -8rem;
        }
        .sect_tit {
            color: #000;
            &::after {
                background: #000;
            }
        }
        .cont_box {
            &.needflex {
                gap: 3rem;
            }
            .listbox {
                &.needflex {
                    flex-wrap: wrap;
                    gap: 1rem 1rem;
                }
                .list_item {
                    padding: 8rem 6rem 1rem;
                    flex: 0 0 calc((100% - 1rem)/2);
                    text-align: center;
                    &:first-of-type {
                        background: url(/assets/images/icon_travel_01.png) no-repeat top 1rem center;
                        background-size: auto 50px;
                    }
                    &:nth-of-type(2) {
                        background: url(/assets/images/icon_travel_02.png) no-repeat top 1rem center;
                        background-size: auto 50px;
                    }
                    &:nth-of-type(3) {
                        background: url(/assets/images/icon_travel_03.png) no-repeat top 1rem center;
                        background-size: auto 50px;
                    }
                    &:last-of-type {
                        background: url(/assets/images/icon_travel_04.png) no-repeat top 1rem center;
                        background-size: auto 50px;
                    }
                    dl {
                        word-break: keep-all;
                        margin-bottom: 2rem;
                        dt {
                            margin-bottom: 2rem;
                        }
                    }
                    &::marker {
                        content: none;
                    }
                }
            }
            .imgbox {
                flex: 0 0 33%;
            }
        }
    }
    &.rcrv {
        padding: 10rem 0;
        background: #54637c;

        .tab_list {
            max-width: 500px;
            margin: 0 auto;
            &.needflex {
                justify-content: center;
                gap: 0 2rem;
            }

            .tab_list_item {
                position: relative;
                background: #fff;
                position: relative;
                z-index: 1;
               a {
                display: block;
                overflow: hidden;
                padding: 5px;
                    img {
                        display: block;
                        height: 100%;
                        object-fit: cover;
                    }
               }
                &.active {
                    position: relative;
                    background: #cfc497;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        transform: translateX(-50%);
                        background: url(/assets/images/img_review_active.png) no-repeat center center;
                        background-size: contain;
                        width: 10px;
                        height: 6px;
                    }
                }
            }
        }
        .tabview_list {
            max-width: 1000px;
            margin: 0 auto;
            position: relative;
            top: -3rem;
            background: #fff;
            padding: 8rem 10rem 5rem;

            .tabview_list_item {
                text-align: center;
                display: none;
                &.active {
                    display: block;
                }

                .review_text {
                    margin-bottom: 2rem;
                }
                .stars {
                    display: block;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    &.rcby {
        padding: 10rem 0 35rem;
        .recommed_list {
            &.needflex {
                justify-content: space-between;
                gap: 0 2rem;
            }
            .list_item {
                flex: 0 0 19%;
                padding-top: 10%;
                background: #fff;
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 130px;
                }
            }
        }
    }
    &.rcbp {
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/assets/images/bg_03.png) no-repeat center center/cover;
        .container {
            position: relative;
            top: -22rem;
        }
        .blog_list {
            &.needflex {
                gap: 5rem 3.5%;
            }
            .list_item {
                flex: 0 0 31%;
                min-height: 478px;
            }
        }
    }
}