// skip_nav
.skip_nav {
    position: relative;
    z-index: 500;
}
.skip_nav a {
    position: absolute;
    top: -50px;
    left: 0;
    background: #000;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    padding: 0 6px;
}

.skip_nav a:focus,
.skip_nav a:active {
    top: 0;
    z-index: 499;
}
.wrap {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

// header, footer
header {
    background: #fff;
    
    > div {
        height: 80px;
        &.needflex {
            justify-content: space-between;
            align-items: center;
        }
        .main_logo {}
        .header_util {
            flex: 0 1 60%;
            &.needflex {
                align-items: center;
                gap: 0 40px;
            }
            .gnb_list {
                flex-grow: 1;
                &.needflex {
                    justify-content: space-between;
                }
            }
            .btn_search {
                width: 14px;
                height: 14px;
                border: 1px solid #000;
                border-radius: 2px;
            }
        }
    }
}

// contents
.cont_sec {  
    // sect_common
    .sect_tit {
        font-size: 3.5rem;
        text-align: center;
        color: #fff;
        position: relative;
        margin-bottom: 6rem;
        &::after {
            content: '';
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 25px;
            background: #fff;
        }
    }
    // mainVisual
    &.main_visual {
        .swiperMv {
            width: 100%;
            height: 800px;
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
    
                    &.mv01 {
                        background: url(/assets/images/img_slider_01.png) no-repeat center center;
                        background-size: cover;
                    }
                    &.mv02 {
                        background:  rgba(0,0,0,0.5) url(/assets/images/img_slider_02.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    &.mv03 {
                        background: url(/assets/images/img_slider_03.jpg) no-repeat center center;
                        background-size: cover;
                    }
                }
            }
        }
    }
    &.text {
        padding: 10rem 0;
        .needflex {
            gap: 0 120px;
            align-items: stretch;
            .textbox {
                &.left {
                    flex: 0 0 30%;
                    text-align: right;
                    h3 {
                        font-size: 4.5rem;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 40px;
                            height: 3px;
                            background: #000;
                        }
                    }
                }
                &.right {
                    b {
                        display: block;
                        margin-bottom: 3rem;
                    }
                    p {
                        margin-bottom: 3rem;
                    }
                    .btn.readmore {
                        border: 2px solid #071734;
                        padding: 15px 40px;
                    }
                }
            }
        }
    }

    &.pckg {
        padding: 10rem 0 30rem;
        background: #071734;


        .pckg_list {
            &.needflex {
                flex-wrap: wrap;
                gap: 5rem 3.5%;

                .list_item {
                    flex: 0 0 31%;
                    min-height: 478px;
                    background: url(/assets/images/bg_contbox_01.png) no-repeat center center;
                    background-size: auto 450px;
                    .fig_desc {
                        padding: 1.5rem 5rem;
                        position: relative;
                        p {
                            display: flex;
                            align-items: center;
                            margin-bottom: 1rem;
                            span {
                                margin-left: auto;
                            }
                        }
                        dl {
                            dt {
                                font-size: 2rem;
                                color: #fff;
                                margin-bottom: 1rem;
                            }
                        }
                        .btn.readmore {
                            padding: 15px 30px;
                            background: #000;
                            color: #fff;
                            position: absolute;
                            bottom: -50%;
                            transform: translateY(-50%);
                        }
                    }
                    &::marker {
                        content: none;
                    }
                }
            }
        }
    }
    &.dstntn {
        position: relative;
        top: -20rem;
        .dst_list {
            .list_item {
                text-align: center;
                &::marker {
                    content: none;
                }
                flex: 0 0 25%;

                figure {
                    height: 230px;
                    img {
                        display: block;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

  