@charset "utf-8";

/* header */
header {
	z-index: 1000;
	position: fixed;
	width: 100%;
	background-color: #FEF8EC;
	box-shadow: 0 0 10px #000000d0;
	.header-inner {
		display: flex;
		align-items: center;
		height: 130px;
		max-width: 1280px;
		margin: 0 auto;
		h1 {
			text-decoration: underline;
			font-style: italic;
			font-size: 2.2rem;
			margin-right: 430px;
		}
		nav {
			ul {
				display: flex;
				li {
					margin: 0 25px;
					white-space: nowrap;
				}
			}	
		}
		.search_icon {
			width: 20px;
			height: 20px;
			background: url(../images/icon_search.png) no-repeat center/cover;
		}
	}
}
/* section */
.section-inner {
	width: 100%;
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
}
/* banner */
.banner_section {
	height: 750px;
	padding-top: 130px;
	.swiper {
		width: 100%;
		height: 100%;
		.swiper-wrapper {
			.swiper-slide {
				.section-inner {
					text-align: center;
					.slide-tit {
						margin-top: 100px;
						margin-bottom: 20px;
						font-size: 7rem;
						color: #fff;
						font-weight: 600;
						line-height: 1;
					}
					.slide-txt {
						font-size: 2rem;
						color: #fff;
						margin-bottom: 50px;
					}
					.trip-btn {
						display: inline-block;
						padding: 10px 30px;
						font-weight: 600;
						color: #3A5065;
						background-color: #E7D5AD;
						transition: 0.2s;
						&:hover {
							color: #E7D5AD;
							background-color: #3A5065;
						}
					}
				}
			}
			.slide1 {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img_slider_01.png) no-repeat center/cover;
			}
			.slide2 {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img_slider_02.jpg) no-repeat center/cover;
			}
			.slide3 {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img_slider_03.jpg) no-repeat center/cover;
			}
			.slide4 {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img_slider_04.jpg) no-repeat center/cover;
			}
		}
	}
}
/* welcome */
.welcome_section {
	padding: 120px 0;
	background-color: #FEF8EC;
	.section-inner {
		display: flex;
		.welcome_tit {
			width: 40%;
			text-align: right;
			h2 {
				position: relative;
				font-size: 5rem;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 4px;
					width: 30px;
					height: 4px;
					background-color: #3A5065;
				}
			}
		}
		.welcome_txt {
			width: 50%;
			margin-left: 100px;
			b, p {
				margin-bottom: 30px;
				color: #3A5065;
			}
			b {
				display: block;
			}
			.welcome_rm_btn {
				display: inline-block;
				padding: 10px 30px;
				font-weight: 600;
				color: #3A5065;
				border: 1px solid #3A5065;
				&:hover {
					color: #E7D5AD;
					background-color: #3A5065;
					transition: 0.2s;
				}
			}
		}
	}
}
/* packages */
.packages_section {
	text-align: center;
	padding-top: 150px;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../images/bg_01.png) no-repeat center/cover;
	background-attachment: fixed;
	.section-inner {
		.packages_tit {
			h2 {
				font-size: 5rem;
				color: #fff;
			}
		}
		.package_list_wrap {
			max-width: 1200px;
			margin: 25px auto;
			ul {
				display: flex;
				flex-wrap: wrap;
				li {
					position: relative;
					width: calc(100% / 3 - 40px);
					height: 430px;
					margin: 50px 20px;
					background: url(../images/bg_contbox_01.png) no-repeat bottom/cover;
					background-size: 90%;
					text-align: left;
					img {
						width: 100%;
						height: 200px;
						margin-bottom: 15px;
					}
					.package_list {
						width: 85%;
						margin: 0 auto;
						padding-left: 20px;
						color: #999;
						> div {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding-right: 10px;
							span:nth-of-type(2) {
								color: #E7D5AD;
								font-size: 1.8rem;
								i {
									
									font-size: 1.2rem;
								}
							}
						}
						h3 {
							margin: 10px 0;
							font-size: 1.6rem;
							color: #fff;
						}
						p {
							font-size: 1.3rem;
						}
					}
					.package_rm_btn {
						position: absolute;
						display: inline-block;
						left: 48px;
						bottom: -22px;
						padding: 10px 30px;
						font-weight: 600;
						color: #E7D5AD;
						background-color: #3A5065;
						transition: 0.2s;
						&:hover {
							color: #3A5065;
							background-color: #E7D5AD;
						}
					}
				}
			}
		}
	}
	/* Destination */
	.destination_wrap {
		text-align: center;
		transform: translateY(200px);
		.destination_tit {
			h2 {
				margin-bottom: 50px;
				color: #fff;
				font-size: 5rem;
			}
		}
		.destination_list_wrap {
			ul {
				display: flex;
				width: 100%;
				li {
					width: 25%;
					img {
						width: 100%;
						height: 250px;
					}
					h3 {
						margin: 10px 0;
						color: #000;
					}
					a {
						margin-bottom: 10px;
						color: #3A5065;
					}
				}
			}
			
		}
	}
}
/* with us */
.withus_section {
	padding-top: 300px;
	padding-bottom: 100px;
	background: url(../images/bg_02.png) no-repeat center/cover;
	background-attachment: fixed;
	text-align: center;
	.section-inner {
		.withus_tit {
			h2 {
				font-size: 5rem;
				margin-bottom: 50px;
			}
		}
		.withus_wrap {
			display: flex;
			.withus_txt {
				width: 70%;
				ul {
					display: flex;
					flex-wrap: wrap;
					li {
						width: 50%;
						padding: 15px 80px;
						> img, h3 {
							margin-bottom: 20px;
						}
						&:nth-of-type(1) {
							margin-bottom: 20px;
							img {
								width: 46px;
								height: 57px;
							}
						}
						&:nth-of-type(2) {
							margin-bottom: 20px;
							img {
								width: 33px;
								height: 53px;
							}
						}
						&:nth-of-type(3) {
							img {
								width: 38px;
								height: 53px;
							}
						}
						&:nth-of-type(4) {
							img {
								width: 51px;
								height: 41px;
							}
						}
						p {
							margin-bottom: 15px;
						}
						a {
							color: #3A5065;
						}
					}
				}
			}
			.withus_img {
				width: 30%;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
/* reviews */
.reviews_section {
	padding: 100px 0;
	text-align: center;
	background-color: #3A5065;
	.section-inner {
		.reviews_tit {
			h2 {
				color: #fff;
				font-size: 5rem;
			}
		}
		.img_btn_wrap {
			transform: translateY(30px);
			ul {
				display: flex;
				justify-content: center;
				li {
					cursor: pointer;
					&.active {
						img {
							border-color: #E7D5AD;
						}
					}
					&:nth-child(2n) {
						margin: 0 7px;
					}
					img {
						width: 80px;
						height: 80px;
						border: 4px solid #fff;
					}
				}
			}
		}
		.reviews_txt_wrap {
			width: 70%;
			margin: 0 auto;
			padding: 50px 100px;
			background-color: #fff;
			ul {
				li {
					display: none;
					&.active {
						display: block;
					}
					p {
						&:nth-of-type(1) {
							margin: 15px 0;
							text-indent: 15px;
						}
						&:nth-of-type(2) {
							margin-bottom: 5px;
							color: #3A5065;
						}
					}
					.star_wrap {
						position: relative;
						display: inline-block;
						width: 75px;
						height: 30px;
						.star {
							position: absolute;
							overflow: hidden;
							font-size: 0;
							img {
								width: 75px;
							}
						}
						// 임시로 별 갯수 설정.
						.star_on1 { width: 15px; }
						.star_on2 { width: 30px; }
						.star_on3 { width: 45px; }
						.star_on4 { width: 60px; }
						.star_on5 { width: 75px; }
					}
				}
			}
		}
	}
}
/* recomend */
.recommend_section {
	padding-top: 150px;
	margin-bottom: -370px;
	background-color: #FEF8EC;
	text-align: center;
	.section-inner {
		.recommend_tit {
			h2 {
				color: #000;
				font-size: 5rem;
			}
		}
		.recommend_logo_wrap {
			margin-top: 40px;
			margin-bottom: 80px;
			ul {
				display: flex;
				li {
					width: 20%;
					height: 100px;
					margin-right: 20px;
					a {
						width: 100%;
						height: inherit;
						display: inline-block;
						padding: 20px;
						background-color: #fff;
						img {
							width: inherit;
							height: 100%;
							object-fit: contain;
						}
					}
					
				}
			}
		}
	}
	.post_wrap {
		transform: translateY(50px);
		.section-inner {
			.post_tit {
				h2 {
					color: #000;
					font-size: 5rem;
				}
			}
			.post_list_wrap {
				max-width: 1200px;
				margin: 25px auto;
				ul {
					display: flex;
					flex-wrap: wrap;
					li {
						width: calc(100% / 3 - 20px);
						height: 430px;
						margin: 50px 10px;
						background: url(../images/bg_contbox_01.png) no-repeat bottom/cover;
						background-size: 90%;
						text-align: left;
						img {
							width: 100%;
							height: 200px;
							margin-bottom: 15px;
						}
						.post_list {
							width: 85%;
							margin: 0 auto;
							padding-left: 20px;
							h3 {
								color: #fff;
								font-size: 1.6rem;
								margin-bottom: 10px;
							}
							.posted_by_txt {
								margin-bottom: 10px;
								color: #E7D5AD;
								font-size: 1.1rem;
								span {
									&:nth-of-type(1) {
										margin-right: 15px;
									}
									&:nth-of-type(2) {
										position: relative;
										&::before {
											content: '';
											position: absolute;
											top: 50%;
											transform: translate(-140%, -50%);
											width: 10px;
											height: 10px;
											background: url(../images/icon_person.png) no-repeat center/cover;
										}
										&::after {
											content: '|';
											margin-left: 10px;
											margin-right: 20px;
										}
									}
									&:nth-of-type(3) {
										position: relative;
										&::before {
											content: '';
											position: absolute;
											top: 50%;
											transform: translate(-140%, -50%);
											width: 10px;
											height: 10px;
											background: url(../images/icon_time.png) no-repeat center/cover;
										}
									}
								}
							}
							.post_content_txt {
								color: #999;
								font-size: 1.3rem;
							}
						}
					}
				}
			}
			.post_vab_btn {
				padding: 10px 30px;
				color: #E7D5AD;
				font-weight: 600;
				border: 1px solid #E7D5AD;
				transition: 0.2s;
				&:hover {
					color: #000;
					background-color: #E7D5AD;
				}
			}
		}
	}
}
/* subscribe */
.subscribe_section {
	padding-top: 490px;
	padding-bottom: 100px;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../images/bg_03.png) no-repeat center/cover;
	background-attachment: fixed;
	.section-inner {
		display: flex;
		.subscribe_input_wrap {
			width: 50%;
			padding: 70px;
			background-color: #E7D5AD;
			h3 {
				color: #000;
				font-size: 3rem;
			}
			p {
				color: #383838;
				font-size: 1.6rem;
				margin-bottom: 15px;
			}
			input[type=email] {
				width: 66%;
				height: 40px;
				margin-right: 5px;
				padding-left: 40px;
				border: none;
				outline: none;
				background: #fff url(../images/icon_email_gray.png) no-repeat left;
				background-size: 16px;
				background-position-x: 15px;
				&::placeholder {
					color: #bdbdbd;
				}
			}
			.subscribe_btn {
				width: 30%;
				height: 40px;
				color: #E7D5AD;
				background-color: #3A5065;
				font-weight: 600;
				cursor: pointer;
			}
		}
		.subscribe_img_wrap {
			display: flex;
			width: 50%;
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img_contbox_01.png) no-repeat center/cover;
			justify-content: center;
			align-items: center;
			h3 {
				color: #fff;
				font-size: 2rem;
				font-style: italic;
				text-decoration: underline;
			}
		}
	}
}
/* footer */
footer {
	padding: 75px 0;
	background-color: #3A5065;
	.section-inner {
		.footer_list_wrap {
			display: flex;
			padding-bottom: 25px;
			border-bottom: 1px solid #b9b9b996;
			.footer_list_box {
				h3 {
					margin-bottom: 15px;
					color:#E7D5AD;
					font-size: 2rem;
					font-weight: normal;		
				}
				&:nth-of-type(1),
				&:nth-of-type(2) {
					width: 20%;
				}
				&:nth-of-type(3) {
					width: 35%;
					ul {
						display: flex;
						flex-wrap: wrap;
						li {
							width: 50%;
						}
					}
				}
				&:nth-of-type(4) {
					width: 25%;
					.sns-icon-wrap {
						margin-top: 25px;
						ul {
							display: flex;
							li {
								padding: 0;
								background: none;
								a {
									display: inline-block;
									width: 40px;
									height: 40px;
									margin-right: 10px;
									border-radius: 50%;	
								}
								.twitter_icon {
									background: url(../images/icon_twiter.png) no-repeat center;
									background-size: 14px;
									background-color: #50A9EF;
								}
								.facebook_icon {
									background: url(../images/icon_facebook.png) no-repeat center;
									background-size: 10px;
									background-color: #3A589A;
								}
								.google_icon {
									background: url(../images/icon_google.png) no-repeat center;
									background-size: 20px;
									background-color: #E14A32;
								}
								.pinterest_icon {
									background: url(../images/icon_pin.png) no-repeat center;
									background-size: 10px;
									background-color: #CD1E1E;
								}
								.instagram_icon {
									background: url(../images/icon_insta.png) no-repeat center;
									background-size: 14px;
									background-color: #3E729C;
								}
							}
						}
					}
				}
				ul {
					li {
						position: relative;
						padding-left: 15px;
						line-height: 1.8;
						background: url(../images/icon_arrow_gray.png) no-repeat left/cover;
						background-size: 6px 9px;
						a {
							color: #D3D3D3;
							font-size: 1.6rem;
						}	
					}
					.map, .tel, .email {
						background-size: 12px;
						padding-left: 22px;
					}
					.map {
						background-image: url(../images/icon_map.png);
						background-position-y: 9px;
					}
					.tel {
						background-image: url(../images/icon_tel.png);
					}
					.email {
						background-image: url(../images/icon_email_white.png);
					}
				}
			}
		}
		.footer_copy_wrap {
			display: flex;
			justify-content: space-between;
			padding-top: 75px;
			span {
				color: #D3D3D3;
			}
			b {
				color: #E7D5AD;
			}
		}
	}
}